.heading {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    margin: 50px;
}
.heading1 {
    box-sizing: border-box;
    background-color: #aa56d2;
    width: 100%;
    height: 40px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.4), 0 6px 4px 0 rgba(0,0,0,0.19);
  }
.meet {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 40px;
    width: 80%;
}
.meet-writing {
    margin: 20px;
    font-size: large;
}
.faq {
    text-align: center;
}
.bigbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .box-text1 {
    padding: 0 5px;
  }
  .pic {
    display: block;
    border-radius: 8px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
  }
.contact-container {
   height: 50vh;
   display: flex;
   align-items: center;
   justify-content:center;
   margin: 50px;
}
.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2 {
    margin-bottom: 5px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.contact-left-title hr {
    border: none;
    width: 160px;
    height: 5px;
    background-color: #aa56d2;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4), 0 2px 4px 0 rgba(0,0,0,0.19);
}
.contact-input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #aa56d2;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4), 0 2px 4px 0 rgba(0,0,0,0.19);
}
.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4), 0 2px 4px 0 rgba(0,0,0,0.19);
}
.contact-input:focus {
    border: 2px solid green ;
}
.contact-left button {
    background-color: #aa56d2; /* purple */
    border: none;
    color: white;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4), 0 2px 4px 0 rgba(0,0,0,0.19);
}