.table {
margin: auto;
padding: 20px;
}
.calendar {
    display: block;
    margin: 50px auto;
    width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }
  .container {
    margin: 20px 0;
    width: 450px;
  }
  .pic {
    display: block;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
  }