body {
    background: #f3dcff;
    color: black;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
header {
    background-color: #aa56d2;
    margin: 0px;
    padding: 10px;   
}
header {border-radius: 0 0 8px 8px;}
header {box-shadow: 0 6px 6px 0 rgba(0,0,0,0.4), 0 6px 4px 0 rgba(0,0,0,0.19);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  display: inline-block;
  margin: 0px;
}
.logo {
  float: left;
} 
.button {
    background-color: #DF9DFF; /* purple */
    border: none;
    color: white;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }
  .button {margin: 0 0 30px 30px;
    float:right;
    border-radius: 8px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
}
.button1 {
  margin-left: 50px;
}
  .button5 {
    float: right;
  }
  .button6 {
    float: right;
    margin-right: 50px;
  }
  .button7 {
    font-size: larger;
    padding: 20px 40px;
  }
  .button:hover {
    background-color: #f3dcff;
}
.button7:hover {
  background-color: #DF9DFF;
}

/* Sign up box looks */
.signup-box {
  width: 720px;
  height: 500px;
  margin: auto;
  background-color: #aa56d2;
  border-radius: 8px;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
}
.title{
    text-align: center;
    padding-top: 15px;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.row {
    margin: 5px 60px; 
    width: 90%;
}
.form{
    width: 650px;
}
.form label{
    display: flex;
    flex-direction: row;
    color: white;
}
.form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 8px;
    outline: none;
}
.button-up{
    background-color: #DF9DFF; /* light purple */
    border: none;
    color: white;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: none;
    margin: auto;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.button-in {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.button-up:hover {
  background-color: #f3dcff;
}
.button-in:hover {
  background-color: #f3dcff;
}
.sign-in{
    text-align: center;
    color:white;
}
/* Sign up box pop up parameters*/
.container1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup1 {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms, 
                transform 20ms ease-in-out 0ms;
}
.open-popup1 {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, 
                opacity 200ms ease-in-out 0ms, 
                transform 20ms ease-in-out 0ms;
}
.popup1 .close-btn1 {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 15px;
    height: 15px;
    background: #DF9DFF;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

/* Sign in box pop up parameters */
.container2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup2 {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms, 
                transform 20ms ease-in-out 0ms;
}
.open-popup2 {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, 
                opacity 200ms ease-in-out 0ms, 
                transform 20ms ease-in-out 0ms;
}
.popup2 .close-btn2 {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 15px;
    height: 15px;
    background: #DF9DFF;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
/* Sign in box looks */
.signup-box1 {
  width: 720px;
  height: 300px;
  margin: auto;
  background-color: #aa56d2;
  border-radius: 8px;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
}
.title1{
  text-align: center;
  padding-top: 15px;
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.row1 {
  margin: 5px 60px; 
  width: 90%;
}
.form1{
  width: 650px;
}
.form1 label{
  display: flex;
  flex-direction: row;
  color: white;
}
.form1 input{
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid grey;
  border-radius: 8px;
  outline: none;
}
.button-in{
  background-color: #DF9DFF;
  border: none;
  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: block;
  float: none;
  margin: auto;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
.sign-in{
  text-align: center;
  color:white;
}

.video {
  display: block;
  border: 2px solid black;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
}
.pic {
  display: block;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
}
.button7 {
  background-color: #aa56d2; /* purple */
  display: block;
  float: none;
  margin: 50px auto;
}
.classes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  margin: auto;
  border-radius: 8px;
}
.container {
  box-sizing:border-box;
  width: 400px;
  background: rgba(255, 255, 255, 0);
  margin: 10px 0 30px 0;
}
.writing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  margin: auto;
  text-align: center;
  font-size: large;
}
.banner {
  box-sizing: border-box;
  background-color: #aa56d2;
  margin: 50px 0;
  width: 100%;
  height: 220px;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.4), 0 6px 4px 0 rgba(0,0,0,0.19);
}
@keyframes bimages {
  from {
    transform: translateX(0);
  }
  to {
    transform:  translateX(-100%);
  }
}
.bimages {
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
}
.bimages-slide {
  display: inline-block;
  animation: 60s bimages infinite linear;

}
.bimages-slide img {
    border: 2px solid black;
}
.heading {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  margin: 50px;
  letter-spacing: 3px;
}
.heading1 {
  box-sizing: border-box;
  background-color: #aa56d2;
  width: 100%;
  height: 40px;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.4), 0 6px 4px 0 rgba(0,0,0,0.19);
}
.bigbox {
  display: flex;
  margin: 80px auto;
  width: 80%;
}
.box {
  border-radius: 8px;
  margin: 20px;
  font-size: large;
}
.box-text {
  width: 70%;
}
.icon {
  float: right;
  margin: 10px 20px 0 100px;
}
a {
  color: white;  
}
.terms {
  float: right;
  margin: 70px 15px 0 0;
  color: black;
  font-size: medium;
  position:relative;
}

footer {
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.4), 0px -4px 4px 4px rgba(0,0,0,0.19);
  background-color: #aa56d2;
  margin: 0px;
  padding: 10px;
}
