.bigbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .text {
  padding: 10px;
  margin: auto;
  align-items: center;
  }
.price {
  text-align: center;
  font-size: 20px;
}
  .box-text {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner1 {
    box-sizing: border-box;
    background-color: #aa56d2;
    margin: 80px 0;
    width: 100%;
    height: 40px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.4), 0 6px 4px 0 rgba(0,0,0,0.19);
  }
  .heading1 {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    padding: 5px;
    margin: 20px;
    letter-spacing: 3px;
  }
  .banner2 {
    box-sizing: border-box;
    background-color: #aa56d2;
    margin: 80px 0;
    width: 100%;
    height: 40px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.4), 0 6px 4px 0 rgba(0,0,0,0.19);
  }
  .container1 {
    box-sizing: border-box;
    background-color: #DF9DFF;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.4), 0 6px 4px 0 rgba(0,0,0,0.19);
    font-size: large;
  }
  .container1-text {
    padding: 20px;
  }
  .promotion-con {
    margin: 100px 0;
  }
  .container2 {
    box-sizing: border-box;
    background-color: #DF9DFF;
    width: 60%;
    margin: 50px auto;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.4), 0 6px 4px 0 rgba(0,0,0,0.19);
    font-size: large;
  }
  .container2-text {
    padding: 20px;
  }
  .pic {
    display: block;
    border-radius: 8px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
  }