.heading {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  margin: 50px;
  letter-spacing: 3px;
}
.heading1 {
  box-sizing: border-box;
  background-color: #aa56d2;
  width: 100%;
  height: 40px;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.4), 0 6px 4px 0 rgba(0,0,0,0.19);
}
.container {
    box-sizing: border-box;
    background-color: #DF9DFF;
    width: 90%;
    margin: 50px auto;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.4), 0 6px 4px 0 rgba(0,0,0,0.19);
    font-size: large;
  }
  .container-text {
    padding: 20px;
    margin: 50px auto;
    width: 80%;
  }
  .bigbox {
    display: flex;
    margin: 50px auto;
    width: 80%;
  }
  .box {
    border-radius: 8px;
    margin: 30px 10px;
    font-size: large;
  }
  .box-text {
    width: 70%;
  }

  .pt {
    display: block;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
  }

  .banner {
    box-sizing: border-box;
    background-color: #aa56d2;
    width: 100%;
    height: 220px;
    margin: 50px 0;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.4), 0 6px 4px 0 rgba(0,0,0,0.19);
  }
  @keyframes bimages {
    from {
      transform: translateX(0);
    }
    to {
      transform:  translateX(-100%);
    }
  }
  .bimages {
    overflow: hidden;
    padding: 10px 0;
    white-space: nowrap;
  }
  .bimages-slide {
    display: inline-block;
    animation: 60s bimages infinite linear;
  }
  .bimages-slide img {
      border: 2px solid black;
  }
.calendar {
    background-color: #aa56d2;
    border-radius: 10px;
    box-shadow: 0 0 30px #222222;
    overflow: hidden;
    width: 50%;
    color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    }
  .header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    }
  .btn {
    cursor: pointer;
    }
    .button7 {
      margin-bottom: 50px;
    }
  #month-year {
    font-weight: bold;
    font-size: 20px;
    }
  .weekdays, .days {
    display: flex;
    flex-wrap: wrap;
    }
  .days {
    height: 250px;
    }
  .weekdays div, .days div {
    width: 10%;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    }
  .days div {
    cursor: pointer;
    transition: background-color 0.3s;
    }
  .days div:hover {
    background-color: white;
    color: #aa56d2;
    }
  .days .today {
    background-color: #f3dcff;
    color: #aa56d2;
    }
.days .fade {
    color: #555;
    }

.table {
  margin: auto;
}

.booking-con {
      display: block;
      margin: auto;
      padding-right: 50px;
    }
.booking-box {
      margin: 30px;
    }