.signup-box {
    width: 720px;
    height: 400px;
    margin: auto;
    background-color: #aa56d2;
    border-radius: 8px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
}
.title{
    text-align: center;
    padding-top: 15px;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.row {
    margin: 5px 60px; 
    width: 90%;
}
.form{
    width: 650px;
}
.form label{
    display: flex;
    flex-direction: row;
    color: white;
}
.form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 8px;
    outline: none;
}
.button{
    background-color: #DF9DFF; /* light purple */
    border: none;
    color: white;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: none;
    margin: auto;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.sign-in{
    text-align: center;
    color:white;
}
.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms, 
                transform 200ms ease-in-out 0ms;
}
.popup .active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.25);
    transition: top 0ms ease-in-out 0ms, 
                opacity 200ms ease-in-out 0ms, 
                transform 200ms ease-in-out 0ms;
}
.popup .close-btn {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 15px;
    height: 15px;
    background: #DF9DFF;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}