.terms-title {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    margin: 30px;
}
.terms-writing {
    color: black;
    margin: auto;
    padding: 20px;
    width: 50%;
}
.policy-title {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    margin: 30px;
}
.policy-writing {
    color: black;
    margin: auto;
    padding: 20px;
    width: 50%;
    margin-bottom: 30px;
}